/* CSS Document */
*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior :smooth;
}
.background{
    background: url("img/colin-geller-coin-geller-marketing-cover-1.jpg") no-repeat center ;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    top:0;
    position:fixed;
    width: 100%;
    display:flex;
	z-index: 1000;
	background: rgb(232,5,5);
    background: linear-gradient(-150deg, rgba(232,5,5,1) 30%, rgba(37,36,36,1) 70%);
}

nav a{
    margin:30px;
    text-decoration:none;
    color:white;
}

nav a:hover{
    transition: 0.5s;
    color:black;
}
.Logo-text{
    margin-top: 25px;
    margin-left: 15px;
    color:white;
	font-size: 36px;
	font-family:AmazDooMRight;
}

.Logo-text span{
	margin-left: 70px;
    color:red;
	font-family:AmazDooMLeft;
}
.up{
    margin-left: 395px;
}
.cacodemon img{
    width: 18%;
    margin-left:335px;
    height: 70px;
    margin-top:5px;
}
.box{
	width: 100%;
	height: 350px;
}
.page1 h1{
	color: white;
    text-align:center;
	margin-top: 50px;
    font-size: 60px;
}

.page1 h4{
	color:white;
    text-align: center;
    margin-top: 60px;
    font-size: 30px;
}


.page1 p{
    text-align: center;
    margin-top: 60px;
}

.page1 a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding:10px;
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left:670px;
    margin-top: 80px;
}

.page1 a:hover{
    transition: 2s;
    color: black;
    background-color:grey;
}
.page2{
    margin-top:200px;
    display: flex;
}
.info-image {
	margin-right: 100px;
	margin-top: 100px;
    position: relative;
    height: 300px;
    width: 550px;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}

.info-image::before {
    content: '';
    position: absolute;
    inset: -10px 250px;
    background: linear-gradient(315deg, black, red);
}

.info-image:hover::before {
    inset: -20px 0;
}
.info-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.info-content {
	color: white;
	font-size: 20px;
    position: absolute;
    inset: 30px;
    border-radius: 50%;
    z-index: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-image:hover .info-content img {
    opacity: 0;
}
.texts{
	margin-top: 100px;
}
.page2 h1{
	color:white;
    text-align: left;
	margin-left: 210px;
}
.page2 h2{
	color:white;
    text-align: left;
    margin-top: 20px;
	margin-left: 210px;
}
.page2 p{
	color:white;
    text-align: left;
    margin-top: 60px;
    width: 50%;
    margin-left: 205px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	padding: 15px;
	border-radius: 20px;
}
.background-2{
	background: url("img/lava backgrtsound.png");
}
.page3{
	padding-top: 50px;
/*	display: flex;*/
}
.doom-hunter .box-2{
	margin-left: 150px;
}
.hell-knight .box-2{
	margin-left: 150px;
}
.marauder .box-2{
	margin-left: 50px;
}
.blood-maykr .box-2{
	margin-left: 35px;
}
.khan-maykr .box-2{
	margin-left: 20px;
}
.box-2 { 
    position: relative;
    padding: 8px 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    width: 400px;
    height: 250px;
    transition: 0.5s;
}
.box-2::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, red);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box-2::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: conic-gradient(transparent, transparent, transparent, red);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box-2 span {
    position: absolute;
    inset: 2px;
    border-radius: 46px;
    background: black;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: poppins;
    font-size: 15px;
    overflow: hidden;
}

.box-2:hover {
    transform: scale(1.1);
}
.page3 img{
	border-radius: 20px;
}
.page3 h1{
	color: white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
}
.page3 h2{
	padding-top: 20px;
	color:white;
	text-align: center;
}
footer{
    width: 100%;
    background-color:grey;
}
footer h1{
    font-size:20px;
    text-align: center;
}
.container{
	width: 1000px;
	margin: 0 auto
}
.container-lg{
	width: 1500px;
	margin: 0 auto
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.row>[class*="col-"]{
	padding: 12px
}
.justify-between{
	justify-content: space-between
}
.justify-around{
	justify-content: space-around
}
.justify-center{
	justify-content: center;
}
.justify-end{
	justify-content: flex-end
}
.align-center{
	align-items: center
}
.align-end{
	align-items: flex-end
}

.col-1{
	width: 8.33%
}
.col-2{
	width: 16.66%
}
.col-3{
	width: 25%
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%
}
.col-6{
	width: 50%
}
.col-7{
	width: 58.33%
}
.col-8{
	width: 66.66%
}
.col-9{
	width: 75%
}
.col-10{
	width: 83.33%
}
.col-11{
	width: 91.66%
}
.col-12{
	width: 100%
}